@import "tailwindcss";
@plugin './hero.ts';

 @source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
 @custom-variant dark (&:is(.dark *));


@theme {
  --breakpoint-xs: 320px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1200px;
}
:root {
  --background: #ffffff;
  --foreground: #463F3A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.my-btn {
  background-color: #463F3A;
  color: #A3B18A;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.my-btn:hover {
  background-color: #A3B18A;
  color: #463F3A;
}

Link {
  color: #463F3A;
}